/* Fonts Form Google Font ::- https://fonts.google.com/  -:: */
@import url('https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Alegreya|Arima+Madurai|Dancing+Script|Dosis|Merriweather|Oleo+Script|Overlock|PT+Serif|Pacifico|Playball|Playfair+Display|Share|Unica+One|Vibur');
/* End Fonts */
/* Start Global rules */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* End Global rules */

/* Start body rules */
body {
  background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
  background-attachment: fixed;
  background-repeat: no-repeat;

    font-family: 'Vibur', cursive;
/*   the main font */
    font-family: 'Abel', sans-serif;
  opacity: .95;
}

body.error-404 {
  background-color: #1da1f2;
}

.finder {
  font-family: fantasy;
  font-size: 25px;  
  color: rgba(247, 16, 74, 0.815);
}


/* ========================== All Forms*/
.form-control {
  display: flex;
  position: relative;
  border-radius: 20px;
  margin:20px;
  width: 50%;
  height: 50px;
  font-size: 17px;
  padding-right: 28px;
  box-sizing: border-box;  
}

.form-control:active,
.form-control:focus {
  box-shadow: none;
  border: 2px solid #007bff;
}

.overaly {
  justify-content: center;
  justify-items: center;
}

#user-form {
  width: 450px;
  min-height: 500px;
  height: auto;
  border-radius: 5px;
  margin: 2% auto;
  box-shadow: 0 9px 50px hsla(20, 67%, 75%, 0.31);
  padding: 2%;
  background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
}

form .con {
  display: -webkit-flex;
  display: flex;

  -webkit-justify-content: space-around;
  justify-content: space-around;

  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;

    margin: 0 auto;
}

header {
  margin: 2% auto 10% auto;
  text-align: center;
}
/* Login title form form */
header h2 {
  font-size: 250%;
  font-family: 'Playfair Display', serif;
  color: #3e403f;  
}

.h2-signup {
  margin-bottom: -20px;
}
header p {letter-spacing: 0.05em;}


/* inputs login form  */
input[class="form-input"]{
  width: 280px;
  height: 50px;

  margin-top: 2%;
  margin-left: 13%;
  padding: 15px;
  
  font-size: 16px;
  font-family: 'Abel', sans-serif;
  color: #5E6472;  
  border-radius:15px;
  transition: 0.2s linear;  
}


input[id="txt-input"] {width: 250px;}
/* focus  */
input:focus {
  transform: translateX(-2px);
  border-radius: 5px;
}


.log-in {
  display: inline-block;
  color: #252537;

  width: 280px;
  height: 50px;

  margin-top: 8%;
  margin-left: 13%;
  padding: 0 20px;
  background: #fff;
  border-radius: 15px;
  
  outline: none;
  

  cursor: pointer;
  text-align: center;
  transition: all 0.2s linear;
  
 
  letter-spacing: 0.05em;
}

.btn {
  margin: 15px; 
  border-radius: 15px;  
}
#edit-acc {
  margin-left: 13%;
}


button:hover {
  cursor: pointer;
  transform: translatey(3px);
  box-shadow: none;
  animation: ani9 0.4s ease-in-out infinite alternate;
}
@keyframes ani9 {
    0% {
        transform: translateY(3px);
    }
    100% {
        transform: translateY(5px);
    }
}

.card {  
  border: 1px solid blueviolet;
}

.favorites, .redirect {  
  font-weight: bold;  
}

.favorites { 
  margin-right: 200px;
}


.display-3 {
  color: #44222b;
  margin-left: 40px;
 
}

/* ======================= Nav */

.navbar {
  background-color: rgb(25, 231, 187);
  height: 46px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  margin-bottom: 1rem;
  position: relative;
  z-index: 9999;
}

.navbar a {
  color: #44222b;
  font-size: 15px;
  font-weight: bold;
}

.navbar a:hover {
  color: #1c94e0;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand > img {
  display: inline-block;
  margin-bottom: 2px;
  margin-right: 5px;
  width: 50px;
  border-radius: 2px;
}

ul.nav.navbar-nav {
  align-items: center;
}

ul.nav.navbar-nav li {
  margin: 0 0.5rem;
  display: flex;
}

@media (max-width: 468px) {
  nav form.navbar-form {
    display: none;
  }
}

nav + .container {
  margin-bottom: 2rem;
}

a {
  text-decoration: none;
}

/* ============================ Signed out home */

.home-hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100vw;
  left: 0;
  z-index: -1; 
  background-size: cover;
  background-position: center center;
  color: rgb(102, 7, 88);
  text-align: center;
  padding: 1rem;
  text-shadow: 0 0 8px #66757f;
}

.home-hero .btn {
  text-shadow: none;
  position: relative;
  z-index: 2;
  width: 150px; 
  height:55px;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  justify-items: center;
}

.home-hero h1 {
  margin-bottom: 4rem;
  font-weight: bold;
}


.home-hero h4 {
  font-weight: bold;
}

.home-hero:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.3);
}

.h1 {  
    font-size: 250%;
    font-family: 'Playfair Display', serif;
    color: #3e403f;    
}




