{% extends 'base.html' %}

{% block content %}

  <div class="overaly">
    <form method="POST" id="user-form">
      <div class="con">
        <header class="head-form">
          <h2>Log In</h2>
          <p>login here using your username and password</p>

        </header> 
        <br>
        <div class="field-set"> 
          {{ form.hidden_tag() }}

          {% for field in form if field.widget.input_type != 'hidden' %}
            {% for error in field.errors %}
              <span class="text-danger">{{ error }}</span>
            {% endfor %}
            {{ field(placeholder=field.label.text, class="form-input")}} 
          {% endfor %}


          <button class="log-in">Login</button>          
        </div>  
      </div>
    </form>
  </div>







      
      
    

{% endblock %}