{% extends 'base.html' %}
{% block content %}

  <h1 class="h1">Search desired job</h1>
    
    <form method="POST" action="users/search" id="search-form">
        {{ form.hidden_tag() }}
         
        {% for field in form if field.widget.input_type != 'hidden' %}
          {% for error in field.errors %}
          <span class="text-danger">{{ error }}</span> 
          {% endfor %}
          {{ field(placeholder=field.label.text, class="form-control") }}                  
        {% endfor %}     
              
        <button type="submit" class="btn btn-primary" id="find-job" style="margin-left: 300px;">Find Job</button>
    </form>   
 
    
{% endblock %}
