{% extends 'base.html' %}
{% block content %}


    <div class="result"> 
      {% for result in jobs %} 
      <div class="card mt-2">
        <div class="card-body">
        
        <h4 class="card-title" style="color: blueviolet;"><a href="/jobs/{{result.id}}"> {{ result.title }}</a></h4>
        <h5>{{ result.company }}</h5>
        <h5>{{ result.location }}</h5>
        <p class="card-text">{{ result.description }}</p>
        <p>{{ result.created }}</p>

        
        </div>
      </div>
      {% endfor %}
    </div>


{% endblock %}